{
  //"parser": "babel-eslint",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "@timkurvers/eslint-config/react",
  "rules": {
    // Allow vertically aligning values
    "no-multi-spaces": [0],

    "comma-dangle": "off",
    "max-len": "off",
    "object-shorthand": "off",
    "no-case-declarations": "off",
    "prefer-template": "off",
    "padded-blocks": "off",

    "no-cond-assign": "off",
    "no-param-reassign": "off",
    "no-useless-constructor": "off",

    "no-else-return": "off",
    "no-unused-vars": "off",
    "consistent-return": "off",
    "react/prefer-stateless-function": "off",

    "quotes": "off",
    "spaced-comment": "off",

    "vars-on-top": "off",
    "no-var": "off",

    "space-infix-ops": "off",
    "block-scoped-var": "off",
    "comma-spacing": "off",
    "space-in-parens": "off",
    "semi": "off",
    "indent": "off",
    "key-spacing": "off",
    "curly": "off",
    "no-trailing-spaces": "off",
    "prefer-const": "off",
    "new-cap": "off",


    "no-underscore-dangle": "off",
    "no-bitwise": "off",
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "max-classes-per-file": "off",
    "import/no-useless-path-segments": "off",
    "prefer-destructuring": "off",
    "no-tabs": "off",
    "no-self-assign": "off",
    "lines-between-class-members": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-mixed-operators": "off",
    "function-paren-newline": "off",
    "function-call-argument-newline": "off",
    "import/no-named-as-default": "off",
    "no-multi-assign": "off",
    "no-undef": "off",
    "getter-return": "off",
    "arrow-parens": "off",
    "prefer-spread": "off",
    "no-useless-return": "off",
    "operator-linebreak": "off",
    "no-empty-function": "off",
    "no-prototype-builtins": "off",
    "import/no-webpack-loader-syntax": "off",
    "import/no-unresolved": "off",
    "no-restricted-globals": "off",
    "no-buffer-constructor": "off",
    "func-names": "off",
    "no-console": "off",
    "no-constant-condition": "off",
    "import/no-extraneous-dependencies": "off",
    "keyword-spacing": "off",
    "no-dupe-class-members": "off",
    "no-multiple-empty-lines": "off",
    "no-unneeded-ternary": "off",
    "linebreak-style": "off",
    "import/newline-after-import": "off",
    "nonblock-statement-body-position": "off",
    "no-mixed-spaces-and-tabs": "off",
    "eqeqeq": "off",

    // See: https://github.com/yannickcr/eslint-plugin-react/issues/128
    "react/sort-comp": [0],

    // Disable newer additions originating from Airbnb
    "arrow-body-style": [0],
    "prefer-arrow-callback": [0],
    "space-before-function-paren": [0],
    "react/jsx-indent-props": [0],
    "react/jsx-closing-bracket-location": [0]
  }
}
