{
  "extends": "@timkurvers/eslint-config/react",
  "rules": {
    // Allow vertically aligning values
    "no-multi-spaces": [0],

    "comma-dangle": "off",
    "max-len": "off",
    "object-shorthand": "off",
    "no-case-declarations": "off",
    "prefer-template": "off",
    "padded-blocks": "off",

    "no-cond-assign": "off",
    "no-param-reassign": "off",
    "no-useless-constructor": "off",

    "no-else-return": "off",
    "no-unused-vars": "off",
    "consistent-return": "off",
    "react/prefer-stateless-function": "off",

    "quotes": "off",
    "spaced-comment": "off",

    "vars-on-top": "off",
    "no-var": "off",

    "space-infix-ops": "off",
    "block-scoped-var": "off",
    "comma-spacing": "off",
    "space-in-parens": "off",
    "semi": "off",
    "indent": "off",
    "key-spacing": "off",
    "curly": "off",
    "no-trailing-spaces": "off",
    "prefer-const": "off",
    "new-cap": "off",

    // See: https://github.com/yannickcr/eslint-plugin-react/issues/128
    "react/sort-comp": [0],

    // Disable newer additions originating from Airbnb
    "arrow-body-style": [0],
    "prefer-arrow-callback": [0],
    "space-before-function-paren": [0],
    "react/jsx-indent-props": [0],
    "react/jsx-closing-bracket-location": [0],

    // fuck it
    "*": "off"
  }
}
